@{
    ViewBag.Title = "VVLibrary Home Page";
}

<div class="jumbotron">

    <h1>VVLibrary</h1>
    <p><img src="~/Pictures/Books.jpg" width="200" height="120" style="float:right" /></p>
    <p class="lead">Aplicatie scrisa ca proiect pentru absolvire curs .NET Scoala Informala de IT Iasi 2017</p>
    <p><a href="https://scoalainformala.ro" class="btn btn-primary btn-lg">Scoala Informala de IT &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-10">
        <h2>Cerintele proiectului</h2>
        <p>
            Aplicatia simuleaza o biblioteca virtuala implementand functionalitatile de baza :
            autentificarea utilizatorilor, functionaliti CRUD pentru baza de date,
            evidenta cartilor imprumutate
        </p>

        @*<p><a class="btn btn-default">Start &raquo;</a></p>*@
    </div>
</div>